<footer class="footer-page">
    <div class="footer-container container">
    
        <div class="up-container">
            <div class="footer-mobile-container">
                <a class="footer-logo" href="../index.html">yachtjet</a>
    
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="#about" class="footer-list-link">About</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#yachts" class="footer-list-link">Yachts</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#reviews" class="footer-list-link">Reviews</a>
                    </li>
                </ul>
            </div>
    
            <ul class="social-list">
                <li class="social-list-item">
                    <a target="_blank" href="https://www.instagram.com/goitclub/">
                        <svg class="footer-icon" width="20px" height="20px">
                            <use href="../img/icons.svg#icon-Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a target="_blank" href="https://www.youtube.com/c/GoIT">
                        <svg class="footer-icon" width="20px" height="20px">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a target="_blank" href="https://www.facebook.com/goITclub/ ">
                        <svg class="footer-icon" width="20px" height="20px">
                            <use href="../img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    
        <p class="footer-main-txt">No matter which yacht you choose,
            our experienced crew will ensure that your journey
            is smooth and enjoyable.
        </p>
    
        <ul class="under-list">
            <li class="under-item">
                <a href="" class="under-link">2023. Yacht Adventures</a>
            </li>
            <li class="under-item">
                <a href="" class="under-link">Privacy Police</a>
            </li>
        </ul>
    </div>
</footer>