<header class="header container">
    <div class="header_box">
        <nav class="navigation">
            <a class="header_logo" href="#">yachtjet</a>
            <ul class="nav_menu">
                <li class="nav_list">
                    <a href="#about" class="nav_link">About</a>
                </li>
                <li class="nav_list">
                    <a href="#yachts" class="nav_link">Yachts</a>
                </li>
                <li class="nav_list">
                    <a href="#reviews" class="nav_link">Reviews</a>
                </li>
            </ul>
        </nav>
        <button class="mob_btn_opn" type="button">
            <svg class="menu_opn_icon" width="24" height="10">
                <use href="./img/icons.svg#icon-mob_btn_opn"></use>
            </svg>
        </button>
        <div class="header_socials">
            <ul class="social_media">
                <li class="social_list">
                    <a href="https://www.instagram.com/goitclub/" class="social_link" target="_blank">
                        <svg class="social_icons" width="19" height="19">
                            <use href="/img/icons.svg#icon-Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social_list">
                    <a href="https://www.youtube.com/c/GoIT " class="social_link" target="_blank">
                        <svg class="social_icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="social_list">
                    <a href="https://www.facebook.com/goITclub/" class="social_link" target="_blank">
                        <svg class="social_icons" width="20" height="20">
                            <use class="icons" href="/img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>