    <section class="hero">
      <div class="container hero-container">
        <div class="hero-title-text">
          <h1 class="hero-title">
            Explore the High Seas with Our Luxury Yacht Rentals
          </h1>

          <div class="hero-text-container">
            <p class="hero-text">
              Experience the freedom and luxury of yachting on the open seas.
              Choose from our top-of-the-line yachts and embark on an
              unforgettable journey surrounded by breathtaking views and
              state-of-the-art amenities.
            </p>
          </div>
        </div>
        <a href="#rent-a-yacht" target="_blank" class="hero-link"
          >Yacht rental
        </a>
      </div>
    </section>