<div class="mobile-menu" data-menu>
    <div class="menu-lab">
     <form class="form-menu" name="issue_report_form" autocomplete="off">
        <a class="logo-menu-mobile" href="#">yachtjet</a>   
        <button class="menu-close-btn" type="submit" data-menu-close>
            <svg class="sprite-mobile" width="16" height="16">
            <use href="/img/icons.svg#icon-multiplication"></use>
           </svg>
         </button>   
       </form>
    </div>
    <div class="btn-rev">
 <ul class="mobile-three">
    <li class="three-btn">
        <button class="cursor mobil-cursor-about" type="button">
            <a href="#about">  
            About
        </a>
          </button> 
    </li>
    <li class="three-btn">
        <button class="cursor mobil-cursor-yachts" type="button">
            <a href="#yachts">    
            Yachts
        </a>
          </button> 
    </li>
    <li class="three-btn">
        <button class="cursor mobil-cursor-reviews" type="button">
            <a href="#reviews">  
            Reviews
        </a>
          </button>   
    </li>
 </ul>
    </div>
    <div class="soc-mobile">
        <ul class="soc-main-icons">
<li class="main-social">
    <a href="https://www.instagram.com/goitclub/" target="_blank">
    <svg class="soc-link" width="19" height="19">
        <use href="/img/icons.svg#icon-Instagram"></use>
       </svg>
    </a>
</li>
<li class="main-social">
    <a href="https://www.youtube.com/c/GoIT" target="_blank">
    <svg class="soc-link" width="20" height="20">
        <use href="/img/icons.svg#icon-youtube"></use>
       </svg>
    </a>
</li>
<li class="main-social">
    <a href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="soc-link" width="20" height="20">
            <use href="/img/icons.svg#icon-facebook"></use>
           </svg>  
    </a>    
</li>
        </ul>
    </div>
</div>

