<div class="mobile-menu">
         <div class="mob-main">
         <div class="menu-lab">
      <div class="form-menu">
         <a class="logo-menu-mobile" href="/index.html">yachtjet</a>   
         <button class="menu-close-btn" type="button" data-menu-close>
             <svg class="sprite-mobile" width="16" height="16">
             <use href="/img/icons.svg#icon-multiplication"></use>
            </svg>
          </button>   
        </div>
     </div>
     <nav class="rev-nav">
  <ul class="mobile-three">
     <li class="memu-nav-about">
     <a href="#about" class="nav-list">About</a> 
     </li>
     <li class="memu-nav-yachts">
         <a href="#yachts" class="nav-list">Yachts</a>
     </li>
     <li class="memu-nav-reviews">
         <a href="#reviews" class="nav-list">Reviews</a>   
     </li>
  </ul>
 </nav>
     <div class="soc-mobile">
         <ul class="soc-main-icons">
 <li class="main-social">
     <a href="https://www.instagram.com/goitclub/" target="_blank" rel="nofollow noreferrer noopener">
     <svg class="soc-link" width="19" height="19">
         <use href="/img/icons.svg#icon-Instagram"></use>
        </svg>
     </a>
 </li>
 <li class="main-social">
     <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="nofollow noreferrer noopener" >
     <svg class="soc-link" width="20" height="20">
         <use href="/img/icons.svg#icon-youtube"></use>
        </svg>
     </a>
 </li>
 <li class="main-social">
     <a href="https://www.facebook.com/goITclub/" target="_blank" rel="nofollow noreferrer noopener">
         <svg class="soc-link" width="20" height="20">
             <use href="/img/icons.svg#icon-facebook"></use>
            </svg>  
     </a>    
 </li>
         </ul>
     </div>
 </div>
 </div>
  