<section id="yachts" class="our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <div class="about-our-yachts">
          <img
            class="our-yachts-img"
            srcset="
              /img/our-yachts/arrow.jpg    1x,
              /img/our-yachts/arrow@2x.jpg 2x
            "
            src="/img/our-yachts/arrow.jpg"
            alt="Arrow"
            width="302"
            height="240"
          />
          <div class="our-yachts-container">
            <div class="our-yachts-name">
              <h3 class="our-yacht-subtitle">Arrow</h3>
              <p class="our-yacht-text">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-about">
              <ul class="our-yachts-characteristic-list">
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">LENGTH</span>
                  <span class="yachts-description">48m(155ft)</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">BUILDER</span>
                  <span class="yachts-description">Admiral</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">BUILT</span>
                  <span class="yachts-description">2021</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">GUESTS</span>
                  <span class="yachts-description">11 in 5 cabins</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">PRICE</span>
                  <span class="yachts-description">&#8364;33,500,000</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="our-yachts-item our-yachts-tablet">
        <div class="about">
          <img
            class="our-yachts-img"
            srcset="
              /img/our-yachts/benetti-oasis.jpg    1x,
              /img/our-yachts/benetti-oasis@2x.jpg 2x
            "
            src="/img/our-yachts/benetti-oasis.jpg"
            alt="BENETTI OASIS"
            width="304"
            height="268"
          />
          <div class="our-yachts-container">
            <div class="our-yachts-name name-benetti">
              <h3 class="our-yacht-subtitle name-benetti-title">
                BENETTI OASIS 40M BO122
              </h3>
              <p class="our-yacht-text">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-about">
              <ul class="our-yachts-characteristic-list">
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">LENGTH</span>
                  <span class="yachts-description">41m (133ft)</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">SHIPYARD</span>
                  <span class="yachts-description">Benetti</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">BUILT</span>
                  <span class="yachts-description">2025</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">GUESTS</span>
                  <span class="yachts-description">10 in 5 cabins</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">PRICE</span>
                  <span class="yachts-description">&#8364;23,210,000</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="our-yachts-item our-yachts-desktop">
        <div class="about">
          <img
            class="our-yachts-img"
            srcset="
              /img/our-yachts/belle-anna.jpg    1x,
              /img/our-yachts/belle-anna@2x.jpg 2x
            "
            src="/img/our-yachts/belle-anna.jpg"
            alt="BELLE ANNA"
            width="345"
            height="268"
          />
          <div class="our-yachts-container">
            <div class="our-yachts-name name-belle">
              <h3 class="our-yacht-subtitle">BELLE ANNA</h3>
              <p class="our-yacht-text">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-about">
              <ul class="our-yachts-characteristic-list">
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">LENGTH</span>
                  <span class="yachts-description">50m(155ft)</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">SHIPYARD</span>
                  <span class="yachts-description">ISA</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">BUILT</span>
                  <span class="yachts-description">2012</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">GUESTS</span>
                  <span class="yachts-description">12 in 6 cabins</span>
                </li>
                <li class="our-yachts-characteristic-item">
                  <span class="yachts-characteristic">PRICE</span>
                  <span class="yachts-description">&#8364;21,000,000</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent-a-yacht" class="our-yachts-link">Yacht rental</a>
  </div>
</section>
