
<div class="container container-reviews">

    <h2 class="text-main-reviews">YachtJet take pride in providing the best possible service and experience to our customers</h2>
    <p class="text-reviews">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
    
    <div class="card-wrapper-reviews">

        <div class="card-container-reviews">

            <div class="card-image-reviews photo-john">
                <img src="/img/reviews/john.png" alt="John's photo">
            </div>
            
            <h3 class="card-name-reviews">John Wax</h3>
            <p class="card-text-reviews">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.</p>
        </div>


        <div class="card-container-reviews hide-victoria">

            <div class="card-image-reviews photo-victoria">
                <img src="/img/reviews/victoria.png" alt="Victoria's photo">
            </div>
            
            <h3 class="card-name-reviews">Victoria Romashenko</h3>
            <p class="card-text-reviews">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
        </div>


        <div class="card-container-reviews hide-ihor">

            <div class="card-image-reviews photo-ihor">
                <img src="/img/reviews/ihor.png" alt="Ihor's photo">
            </div>
            
            <h3 class="card-name-reviews">Ihor Trachuk</h3>
            <p class="card-text-reviews">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
        </div>


    </div>

</div>