
.section {
    background-color: #0e1823;
}

.about-container {
    min-width: 320px;
    max-width: 375px;
}

.about-description {
    border-radius: 24px;
    background-color: #fbfbfb;
    margin-top: -59px;
    display: flex;
    flex-direction: column;
    
}
.about-card {
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.section-subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 295px;
    margin-bottom: 40px;
}

.about-subtitle {
    color: #1b414b;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.text-promo {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    }

.text-about {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.about-image-box {
    width: 100%;
}
.about-image {
    border-radius: 24px;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .about-container {
        min-width: 768px;
    }
    .about-description {
        margin-top: -67px;
    }
    .section-subtitle {
        font-size: 48px;
        max-width: 536px;
        margin-bottom: 50px;
    }
    .about-card {
        padding: 0 32px;
        padding-top: 32px;
    }
    .about-wrapper {
        max-width: 389px;
    }
    .text-promo {
        font-size: 23px;
    }  
    .text-about {
        font-size: 13px;
        line-height: 1.15;
    }    
    
}


@media screen and (min-width:1280px) {
    .about-container {
        min-width: 1280px;
        }
    .about-description {
        margin-top: -35px;        
    }
    
    .about-card {
        padding: 0 50px;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .about-wrapper {
        max-width: 354px;
    }
    
    .about-image {
        width: 1180px;
    }
}