footer {
  background: #0e1823;
}

.footer-page {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 375px;
  padding: 0 10px;
}

.footer-container {
  border-radius: 24px 24px 0 0;
  background: #1b414b;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.up-container {
  margin-right: auto;
  margin-left: auto;
}

.footer-mobile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 37px;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo {
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  display: block;
  font-size: 14px;
}

.footer-main-txt {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  font-size: 18px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 82px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.footer-list-item {
  border-radius: 8px;
  height: 40px;
  background: rgba(251, 251, 251, 0.3);
  text-align: center;
  width: 66px;
}

.footer-list-item:hover,
.footer-list-item:focus {
  background: #fbfbfb;
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: #1b414b;
}

.footer-list-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  max-width: 88px;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  margin-bottom: 40px;
}

.footer-icon {
  fill: #fbfbfb;
}

.footer-icon:hover,
.footer-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.under-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.under-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
  .footer-page {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
  }

  .footer-mobile-container {
    gap: 110px;
  }

  .footer-container {
  }

  .up-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    font-size: 20px;
    margin-right: auto;
  }

  .footer-list-item {
    width: 91px;
  }

  .social-list {
    margin-left: 91px;
  }

  .footer-main-txt {
    margin-top: 96px;
    font-size: 32px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .under-list {
    gap: 32px;
  }
  .footer-list {
  }
}

@media screen and (min-width: 1280px) {
  .footer-page {
    max-width: 1280px;
    padding: 0 25px;
  }

  .footer-container {
    min-width: 1230px;
    padding: 50px 75px 20px 75px;
  }

  .footer-mobile-container {
    gap: 330px;
    margin: 0;
  }

  .up-container {
    justify-content: center;
  }

  .footer-logo {
  }

  .social-list {
    margin-left: auto;
    margin-right: 0;
  }
}
