input::placeholder,
textarea::placeholder {
  color: rgba(251, 251, 251, 0.4);
  display: block !important;
}

.container {
  padding: 0 20px;
  max-width: 375px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.rent-content {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.rent-form {
  max-width: 472px;
  width: 100%;
}

.rent-order-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.rent-img {
  border-radius: 24px;
  overflow: hidden;
  flex: 0 1 auto;
}

.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.form-input {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.17;
  cursor: text;
  color: #fbfbfb;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.form-comment {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  width: 100%;
  cursor: text;
  resize: none;
  color: #fbfbfb;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }

  .rent-content {
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: flex-end;
  }
  .rent-title {
    font-size: 48px;
    text-align: left;
  }

  .send-btn {
    margin-top: 32px;
  }

  .form-comment {
    padding: 18px;
    box-sizing: border-box;
  }

  .form-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    width: 472px;
    height: 54px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .rent-content {
    flex-wrap: nowrap;
    gap: 50px;
  }

  .rent-img img {
    height: 100%;
    width: auto;
    transform: scale(1.25);
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
